.boton{
    background-color: var(--primary-color);
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    border-radius: 10px;
    padding: 24px 32px;
    border: none;
    color: #FFFFFF;
    margin: 32px 0;
    cursor:  pointer;
    font-size: 20px;
}

.boton:hover {
    color: #95FFD4;
}